
<div class="main-content" *ngIf="dataTable && dataTable.dataRows.length > 0">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"All Details" | translate}}</h4>
            </div>
            
              <div class="card-body">
                
                    <table id="datatable" class="hover table table-striped table-bordered" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                <th>{{ dataTable?.headerRow[0] | translate }}</th>
                                <th>{{ dataTable?.headerRow[1] | translate }}</th>
                                <th>{{ dataTable?.headerRow[2] | translate }}</th>
                                <th>{{ dataTable?.headerRow[3] | translate }}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let row of dataTable?.dataRows">
                                  <td>{{row[0]}}</td>
                                  <td>{{row[1]}}</td>
                                  <td>{{row[2]}}</td>
                                  <td>{{row[3]}}</td>
                              </tr>
                          </tbody>
                      </table>
              </div>
              <!-- end content-->
          </div>
          <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>
